@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 255, 0, 0.185) !important; */
}

:root {
  --bold: 700;
  --clr-orange: hsl(10, 79%, 65%);
  --clr-cream: hsl(29, 63%, 92%);
  --clr-diff: hsl(186, 34%, 60%);
  --txt-clr: hsl(27, 33%, 17%);
  --txt-clr-light: hsl(27, 33%, 17%);
}

body,
html {
  font-family: "DM Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  padding: 2em 0.45em;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
}
/* ////////////// */
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.8em;
}
/* MAIN */
main {
  padding: 1.2em 0.8em;
  border-radius: 0.5em;
}
main h2 {
  padding-bottom: 2em;
}
.grid {
  height: 40vh;
}

.grid > .flex-col:hover::before {
  content: attr(data-box);
  background-color: var(--txt-clr);
  color: white;
  position: relative;
  top: -0.8em;
  /* left: 0; */
  width: 90%;
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding: 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.8em;
  white-space: nowrap;
}

.bar {
  width: 70%;
  border-radius: 0.2em;
  margin-bottom: 0.8em;
  transform: translatey(0);
  transition: all 0.8s ease;
}
.bar:hover {
  opacity: 0.6;
  transform: translatey(-0.5em);
}

.hr {
  border-bottom: 2px solid var(--clr-cream);
  margin-bottom: 1.5em;
}

.p {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.text p {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .container {
    width: 40%;
    font-size: 20px;
  }

  header {
    padding: 1.5em;
  }

  main {
    padding: 1.5em 1.8em;
  }
}
