@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 255, 0, 0.185) !important; */
  }
  

:root{
    --clr-orange:hsl(10, 79%, 65%);
    --clr-cream:hsl(29, 63%, 92%);
    --clr-diff:hsl(186, 34%, 60%);
    --txt-clr:hsl(27, 33%, 17%);
    --txt-clr-light:hsl(27, 33%, 17%);
}
.hidden{
  display: none;
}
.bg-red{
  background-color: var(--clr-orange);
  color: white;
}
.bg-white{
  background-color: white;
  color: var(--txt-clr);
}
.bg-cream{
  background-color: var(--clr-cream);
}
.bg-dark{
  color: white;
  background-color: var(--txt-clr);
}
.bg-diff{
  color: white;
  background-color: hsl(186, 34%, 60%);
}
.grid{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 1.5em;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold{
  font-weight: bold;
}


